/** from introds slides.css */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans);

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
}
p {
  padding: 0;
  margin: 0px;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #A7D5E8;
  font-size: 12px;
  margin: 0 0 0.5em 0;
}
h1, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #A7D5E8;
  margin-top: 0px;
  margin-bottom: 20px;
}
a, a > code {
  font-family: 'Fira Mono', monospace;
  color: #1E5C65;
  text-decoration: none;
}

.remark-slide-content{
  font-size: 30px;
}


/* Sections */
.inverse {
  background-color: #A7D5E8;
  color: #ffffff;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}



/* Font sizes */
.large { font-size: 130% }
.midi { font-size: 85% }
.small { font-size: 70% }
.xsmall { font-size: 60% }
.tiny { font-size: 50% }



/* Code formatting */
.remark-code-line-highlighted {
  background-color: #A7D5E8;
}

.remark-code {
  font-family: 'Fira Mono', monospace;
  font-size: 80%;
}

.remark-inline-code {
  font-family: 'Fira Mono', monospace;
  font-size: 100%;
  color: #869496;
}


/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.center {
  text-align:center;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
